<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashley Info</title>
    <style>
            body {
              margin: 0;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              background-color: #536d5a;
            }
            
            h1{
              color: powderblue;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 200%;
                font-family: 'Staatliches';
            }
            h2{
              color: powderblue;
               text-decoration: none;
            }
            li{
                
                padding: 5px;
                margin-left: 35px;
            }
            img{
                border-radius: 10%;
                position: absolute;
                Top:200px; left:550px;
            }
            p{
              color: powderblue;
              float: Right;
              position: absolute;
                top: 400px;
            }
                </style>
</head>
<body>
        <%- include navigationbar.ejs %>
    <br> 
    <h1>Player Ashe Stats</h1>
    <ul>
        <% str.forEach(function(item) { %>
            <li><h2>Name: <%= item.info.player_Ashe.name %></h2></li>
            <li><h2>Age: <%= item.info.player_Ashe.age %></h2></li>
            <li><h2>Address: <%= item.info.player_Ashe.address %></h2></li>
            <li><h2>Hobbies: <%= item.info.player_Ashe.hobbies %></h2></li> 
        <% }); %>
    </ul>
</body>
</html>