<%- include navigationbar.ejs %>

<% if(p_choice === "Harley") { %>
    <% str.forEach(function(item) { %>
    <ul>
        <li><h2>Name: <%= item.info.player_Family.Pet1.name %></h2></li>
        <li><h2>Age: <%= item.info.player_Family.Pet1.age %></h2></li>
        <li><h2>Location: <%= item.info.player_Family.Pet1.location %></h2></li>
    </ul>
<% })}; %>

<% if(p_choice === "Darely") { %>
    <% str.forEach(function(item) { %>
    <ul>
        <li><h2>Name: <%= item.info.player_Family.Pet2.name %></h2></li>
        <li><h2>Age: <%= item.info.player_Family.Pet2.age %></h2></li>
        <li><h2>Location: <%= item.info.player_Family.Pet2.location %></h2></li>
    </ul>
<% })}; %>
 